<div style="background-color: #2c003e;">

<h4 style="text-align: center;">Connect with us at</h4>
<a href="www.facebook.com" class="fa fa-facebook" style="margin-left: 570px;"></a>
<a href="www.twitter.com" class="fa fa-twitter"></a>
<a href="www.instagram.com" class="fa fa-instagram"></a>
<a href="www.linkedin.com" class="fa fa-linkedin"></a>
<h5 style="text-align: center;">Support(10am to 7pm IST- Monday to Saturday)</h5>
<div style="text-align: center; " class="abc">
<b>Call Us: </b>1234 5678 9102 3456 <b>Email:</b>vivaahAlankar@gmail.com
</div>



<table style="width:100%">
    <tr>
      <th>Company</th>
      <th>Men's Wear</th>
      <th>Women's Wear</th>
      <th>Kids Wear</th>
      <th>Support</th>
    </tr>
    <tr>
      <td>Franchise Enquiry</td>
      <td>Sherwani</td>
      <td>Kurti/Suit</td>
      <td>Kids Kurta</td>
      <td>FAQs</td>
    </tr>
    <tr>
        <td>About Us</td>
        <td>Kurta Set</td>
        <td>Saree</td>
        <td>Kurta Jacket</td>
        <td>Terms of Use</td>
    </tr>
    <tr>
        <td>Book Appointment</td>
        <td>Indo Western</td>
        <td>Gown</td>
        <td>Festive Kurta</td>
        <td>Privacy Policy</td>
      </tr>
      <tr>
        <td>Store Locator</td>
        <td>Jackets</td>
        <td>Bridal Collection</td>
        <td></td>
        <td>Shipping Details</td>
      </tr>
      <tr>
        <td>Careers</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Exchange Policy</td>
      </tr>
      <tr>
        <td>Contact Us</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Affliate Program</td>
      </tr>
      
  </table>
  
</div>
<p class="text-dark"><b>Site Map | Terms of Use 2020 | © VivaahAlankar.com. All rights reserved</b></p>