<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img height="500px" src="assets/aboutUs.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
</div>

<h1 style="text-align: center;margin-top: 10px;">WHAT BRINGS YOU HERE!</h1>

<p style="margin-left: 10px;">VivaahAlankar is the website which brings you the collections of all types of Wedding Dresses and many more. We use the finest and quality assured material of clothing to give an attractive look for our customers. We also provide the collection of children with the latest fashion to make their events a special one. Checkout the latest collection of Wedding Arrivals to enjoy your moments with your loved once. We have provided the sections such as Engagement, Sangeet, Wedding, Reception where you can see the various collection of dresses to make your every moment special.</p>
<div class="col-lg-4 text-center" style="margin-left: 450px; background-color: pink;padding-right: 20px;padding-left: 20px;">
        <h2 style="padding-top: 30px;">Our Mission</h2>
        <p>To provide the best collection to our customer on time.</p>
        <h2 style="padding-top: 30px;">Our Essence</h2>
        <p>Clothings made with refine and soft silk cloth to give a brighter look for the occassions.</p>
        <h2 style="padding-top: 30px;">Our Mission</h2>
        <p>We deliver optimistic and diverse experienced designing of dresses with excellence in fabrics.</p>
        <h2 style="padding-top: 30px;">Our Essence</h2>
        <p>At VivaahAlankar, we make magic. We dream it, and then do it-together-everyday inventing what's possible.</p>
</div>
<br>

    <img class="photo" src="assets/photography.jpeg" height="500px" width="1000px" style="margin-left: 180px;">
    <br><br>
    <h5 style="text-align: center;">We provide you the best photography life to capture each and everyperfect moment to bring out your memories with an awesome view.</h5>
      <h5 style="text-align: center;">Here you can see some of our pictures that were clicked by our professional photographers.</h5>
<br>
<table style="width: 100%;">
    <tr>
        <td><img class="engage" src="assets/photoengage.jpg" height="250px" width="250px"></td>
        <td><img class="sangeet" src="assets/photosangeet.jpg" height="250px" width="250px"></td>
        <td><img class="wedding" src="assets/photowedding.jpg" height="250px" width="250px"></td>
        <td><img class="reception" src="assets/photorec.jpeg" height="250px" width="250px"></td>
    </tr>  
</table>
<br><br>

<img class="photo" src="assets/jewac.jpeg" height="500px" width="1000px" style="margin-left: 180px;">
<br><br>
<img class="photo" src="assets/wedac.jpeg" height="500px" width="1000px" style="margin-left: 180px;">
<br><br>
      <h5 style="text-align: center;">Even the bride or Groom must have the perfect dresses, but seems like something is missing! Yes, We give you the best collection of jewelleries and Accessories to look the more way beautiful.</h5>
      <h5 style="text-align: center;">Here are some of our collections of jewellery and Accessories.</h5>
      <h5 style="text-align: center;">To get and watch the more collections, kindly <a routerLink="/contactus">click here</a> to contact us. We would be in service with you ASAP!</h5>
<br>

<table style="width: 100%;">
    <tr>
        <td><img class="ac1" src="assets/brideac.jpeg" height="250px" width="250px"></td>
        <td><img class="ac2" src="assets/menac.jpg" height="250px" width="250px"></td>
        <td><img class="jw1" src="assets/d.jpg" height="250px" width="250px"></td>
        <td><img class="jw2" src="assets/h.jpg" height="250px" width="250px"></td>
    </tr>  
</table>
<br><br>


