<br><br>
<p style="text-align: center;">If you have a question or a comment, please call us on 1234 5678 9102 3456 (Mon to Sat 10.00 A.M. to 7:00 P.M. (IST) ) or email us at info@vivaahAlankar.com or use the form below to contact us. If you are looking for a VivaahAlankar store near you, please use our Stores Locator page.</p>

<div class="row">
    <div class="col-lg-6" style="margin-top: 20px; padding-left: 50px;">
        <h1 style="text-align: center;">Get in touch</h1>
        <br>
        <b><h4 style="text-align: left;margin-left: 80px;">REGISTERED OFFICE</h4></b>
        <p style="text-align: left;margin-left: 80px;">VivaahAlankar Private Limited,
        <br>
            Bridgeman Logistic Park,
            <br>
        Part-A, Block B, G-2, NH-42,
        <br>
         Gandhinagar, Pune-4110203, Maharashtra, India.
        </p>
        <p style="background-color: pink;text-align: center; width: 500px; margin-left: 80px;">Corporate Identity Number (CIN) : P3728111173990K27274742</p>
        <p style="text-align: left;margin-left: 80px;">Call Us: +91 123 456789 (Mon to Sat 10:00 am to 7:00 pm IST)</p>
        <p style="text-align: left;margin-left: 80px;">Email Us: info@vivaahAlankar.com / info@vivaahAlankar.co.in</p>
        <hr>
        <b><h4 style="text-align: left;margin-left: 80px;">ONLINE PURCHASE</h4></b>
        <p style="text-align: left;margin-left: 80px;">Call Us: 1234 5678 9102 3456 (Mon to Sat 10:00 am to 7:00 pm IST)</p>
        <p style="text-align: left;margin-left: 80px;">Email Us: onlineinfo@vivaahAlankar.com</p>
        <hr>
        <b><h4 style="text-align: left;margin-left: 80px;">CUSTOMER FEEDBACK</h4></b>
        <p style="text-align: left;margin-left: 80px;">Call Us: +91 321 9876542 (Mon to Sat 10:00 am to 7:00 pm ) (Mon to Sat 10:00 am to 7:00 pm IST)</p>
        <p style="text-align: left;margin-left: 80px;">Email Us: customercare@vivaahAlankar.com</p>
        <hr>
        <b><h4 style="text-align: left;margin-left: 80px;">JOIN US</h4></b>
        <p style="text-align: left;margin-left: 80px;">Email Us: career@vivaahAlankar.com</p>


    </div>

    <div class="col-lg-6 text-center" style="margin-top: 20px;">
        <h1 style="text-align: center;">Drop Us Your Queries</h1>
        <br>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="assets/logo.png" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form>
                            
                        
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input class="form-control input_user"  ngModel type="text" name="name" placeholder="First Name" id="">
                            </div>
        
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input class="form-control input_user"  ngModel type="text" name="lastname" placeholder="Last Name" id="">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input class="form-control input_user"  ngModel type="text" name="city" placeholder="City" id="">
                            </div>
        
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            <input class="form-control input_user"  ngModel type="email" name="email" placeholder="E-mail" id="">
                            </div>
        
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                            <input class="form-control input_pass"  ngModel  type="text" name="mob" placeholder="Enter Your Mobile No." id="">
                            </div>
        
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            <input class="form-control input_user"  ngModel type="text" name="query" placeholder="Enter Your Query" id="">
                            </div>
        
                            <div class="form-group text-center">
                                <a routerLink="/main"><button type="submit" class="btn register_btn" (click)="myFunction()">Submit</button></a>
                                
                                <br><br>
                            </div>
                            <!-- <p>
                                OR
                            </p>
                            <a routerLink="/register" class="btn btn-warning">
                                Register
                            </a> -->
                        
            
                        </form>
                    </div>
                </div>
            </div>
        </div>    
        
               
    
    </div>

    
        
    

</div>
<br><br><br>

